 <section class="parallax-bg padding-top-bottom cta-image" data-parallax-background="<%= image_path "light-abstract.jpg"%>" data-stellar-background-ratio=".7">

  <div class="container">

    <div class="row">

      <div class="col-sm-6 scrollimation fade-right">

        <%= image_tag "#{@event.img_url}", class:"img-responsive img-center", alt:"" %>

      </div>

      <div class="col-sm-6 scrollimation fade-left d1">

        <h1 class="big-title">Activities</h1>
        <p>Let's see what's there to do near</p>
        <p>
          <b class='event-name'><%= @event.name %></b><br/><b class='event-date'><%= @event.date_display %></b> at <b><%= @event.time %></b>
          <b class='event-time'><%= @event.time_display %></b><b class='event-utc'><%=@event.date %></b><p>
          <b><%= @event.address %></b>
        <p>Results from yelp and foursquare</p>

        <a class="btn btn-quattro scrollto" href="#services"><i class="fa fa-arrow-down"></i>Check Them Out!</a>

      </div>

    </div>

  </div>

</section>


<section id="services" class="white-bg padding-top-bottom">

  <div class="container">

    <h1 class="section-title">Results</h1>
    <p class="section-description"></p>

    <div id="filter-works">
      <ul>
        <li class="active scrollimation fade-right d1">
          <a href="#" data-filter="*">All</a>
        </li>
        <li class="scrollimation fade-right">
          <a href="#" data-filter="food">Restaurants</a>
        </li>
        <li class="scrollimation fade-left">
          <a href="#" data-filter="night">Nightlife</a>
        </li>
        <li class="scrollimation fade-left d1">
          <a href="#" data-filter="sight">Sights</a>
        </li>
      </ul>
    </div>

    <div class="row services">

    <div class='col-md-8'>

      <div class="col-md-3 item text-center scrollimation fade-right d1 activities" data-cat='food'>

        <h3 class='yelp1'>Restaurants</h3>
        <div class='external-events'>
          <% i = 1 %>
          <% @food.each do |f| %>

          <div id='f<%= i %>' class='activity fc-event ui-draggable ui-draggable-handle' data-event='{"title":"<%= f[:name] %>"}' data-cat='food'>

            <b class='title'><%= f[:name] %></b><br/>
            <%= f[:address].first %>
            <%#= f[:address].last %><br/>
  <!--           <%#= f[:cats].join(', ') %>
            Distance in meters: <%#= f[:distance] %> -->
            <span class='url'><%= link_to 'YELP', f[:url], :target => "_blank" %></span> <i class="fa fa-yelp"></i>
          </div>
            <% i += 1 %>
          <% end %>
        </div>
      </div>

      <div class="col-md-1"></div>

      <div class="col-md-3 item text-center scrollimation fade-right activities" data-cat='night'>
        <h3 class='yelp2'>Nightlife</h3>
        <div class='external-events'>
          <% i = 1 %>
          <% @night.each do |f| %>

            <div id='n<%= i %>' class='activity fc-event ui-draggable ui-draggable-handle' data-event='{"title":"<%= f[:name] %>"}'>

            <b class='title'><%= f[:name] %></b><br/>
            <%= f[:address].first %>
            <%#= f[:address].last %><br/>
            <%= link_to 'YELP', f[:url], :target => "_blank"%> <i class="fa fa-yelp"></i>

            </div>
          <% i += 1 %>
        <% end %>
        </div>
      </div>

      <div class="col-md-1"></div>

      <div class="col-md-3 item text-center scrollimation fade-left activities" data-cat='sight'>
          <h3 class='foursquare'>Sights</h3>
          <div class='external-events'>
          <% i = 1 %>
          <% @sights.each do |f| %>

            <div id="s<%= i %>" class='activity fc-event ui-draggable ui-draggable-handle sights' data-event='{"title":"<%= f[:name] %>"}'>

              <b class='title'><%= f[:name] %></b><br/>
              <%= f[:address][0] %><br/>
              <i class="fa fa-foursquare"></i> <%= link_to 'FourSquare', f[:url], :target => "_blank" %>

            </div>
            <% i += 1 %>
          <% end %>
        </div>
    </div>
    </div>

      <div class="col-md-4 item text-center scrollimation fade-left d1">

        <div id='calendar'></div>
        <%= form_tag '/auth/google_oauth2', :method => 'get', :class => 'google-form' do |f| %>
        <%= button_tag :type =>'submit', :class => 'btn btn-quattro google' do %>
          <i class='fa fa-google'></i>Add to Google Calendar
          <% end %>
        <% end %>
      </div>
       <button id="clear" type="button">Clear Schedule!</button>
    </div>

    <p class="text-center"><a class="btn btn-quattro scrollto" href="#map-section"><i class="fa fa-arrow-down"></i> See where it is on the map!</a></p>
  </div>

</section>

<section id="map-section" class="white-bg padding-top-bottom">


      <div class="container">

        <h1 class="section-title">Map</h1>

        <div class="row">
          <div class="col-md-1 item text-center scrollimation fade-up">
          </div>
          <div class="col-md-10 item text-center scrollimation fade-up">
            <div id="map"></div>
          </div>
          <div class="col-md-1 item text-center scrollimation fade-up">
          </div>
        </div>

      </div><!-- End container -->


    </section>


<%#= button_to 'pick for me' ,event_results_path, :method => 'get' %>

<div class='random'>
<h4>Random Picks</h4>
<% @random.each do |r| %>
<b><%= r[:title] %></b>
<div class='activity' data-event='{"title":"<%= r[:name] %>"}'>
<ul>
  <li><b><%= r[:name] %></b></li>
  <li><%= r[:address].first %></li>
  <li><%= r[:address].last %></li>
  <li><% if r[:cats] == Array %>
        <%= r[:cats].join(', ') %>
      <% else %>
         <%= (r[:cats]) %>
      <% end %>
  </li>
  <li>Distance in meters: <%= r[:distance] %></li>
  <li><%= link_to r[:url], r[:url], :target => "_blank" %></li>
  <% end %>
</ul>

</div>

<hr>

<!-- Form for Custom Block that creates a drag and drop block via AJAX -->
<h3>CUSTOM BLOCK</h3>
<h3>Fill fields below</h3>

<%= form_tag(event_results_path, :method=>'get') do %>
<p>
   Title:<br />
   <%= text_field_tag "c_title" %>
 </p>

 <p>
   Location: <br />
   <%= text_field_tag "c_location" %>
  <!-- Future TODO: Look up address and calculate distance from Main Event and add as field -->
 </p>

 <p>
   Description:<br />
   <%= text_area_tag "c_description", "", :size=>"20x10" %>
 </p>

 <p>
   <%= submit_tag 'Submit' %>
 </p>
<% end %>

<!-- Appears after form is submitted and page is refreshed. -->
<% if params[:c_title].present? %>
    <div class='activity ui-widget-content'>
    <ul>
      <li><b><%= params[:c_title] %></b></li>
      <li><%= params[:c_location] %></li>
      <li><%= params[:c_description] %></li>
    </ul>
    </div>
<% end %>
