<h1>results#index</h1>

<p>Results for</p>
<p><b class='event-name'><%= @event.name %></b></p>
<p> on <b class='event-date'><%= @event.date_display %></b>
   at <b class='event-time'><%= @event.time_display %></b> <b class='event-utc'><%=@event.date %></b>

Google user_id <%= @event.user_id %>
<hr/>
<% if @event.user_id != nil %>
<%= @user.get_main_gcal_id %>
<% end %>




<!-- cut section 1 -->



<div id='calendar'></div>
<h4> Neighboring Area Around <%= @event.name %> </h4>
<div id="map"></div>

<hr/>

<%= button_to 'pick for me' ,event_results_path, :method => 'get' %>


<!-- <button id="clear" type="button">Clear Schedule!</button>
 -->


<div class='random'>
  <h4>Random Picks</h4>
  <% @random.each do |r| %>
  <b><%= r[:title] %></b>
  <div class='activity' data-event='{"title":"<%= r[:name] %>"}'>
  <ul>
    <li><b><%= r[:name] %></b></li>
    <li><%= r[:address].first %></li>
    <li><%= r[:address].last %></li>
    <li><% if r[:cats] == Array %>
          <%= r[:cats].join(', ') %>
        <% else %>
           <%= (r[:cats]) %>
        <% end %>
    </li>
    <li>Distance in meters: <%= r[:distance] %></li>
    <li><%= link_to r[:url], r[:url], :target => "_blank" %></li>

  </ul>
  </div>
  <% end %>
</div>

<div id="food">
  <h4>Food Option</h4>
  <% i = 1 %>
  <% @food.each do |f| %>
  <div id="f<%= i %>" class='activity' data-event='{"title":"<%= f[:name] %>"}'>
    <b class='title'><%= f[:name] %></b>
  <ul>
    <li><%= f[:address].first %></li>
    <li><%= f[:address].last %></li>
    <li><%= f[:cats].join(', ') %></li>
    <li>Distance in meters: <%= f[:distance] %></li>
    <li><%= link_to f[:url], f[:url], :target => "_blank" %></li>
  </ul>
  </div>
  <% i += 1 %>
  <% end %>
</div>

<div id="night">
  <% i = 1 %>
  <h3>Night Option</h3>
  <% @night.each do |f| %>
  <div id='n<%= i %>' class='activity ui-widget-content'>
    <b class='title'><%= f[:name] %></b>
  <ul>
    <li><%= f[:address].first %></li>
    <li><%= f[:address].last %></li>
    <li><%= f[:cats].join(', ') %></li>
  </ul>
  </div>
  <% i += 1 %>
  <% end %>
</div>

<div id="sights">
  <% i = 1 %>
  <h3>Sights Option</h3>
  <% @sights.each do |f| %>
  <div id="s<%= i %>" class='activity' data-event='{"title":"<%= f[:name] %>"}'>
    <b class='title'><%= f[:name] %></b>
  <ul>
    <li><%= f[:address][0] %></li>
    <li><%= f[:cats] %></li>
    <li>Distance in meters: <%= f[:distance] %></li>
    <li><%= f[:here_now] %></li>
    <li><%= link_to "link", f[:url], :target => "_blank" %></li>
  </ul>
  </div>
  <% i += 1 %>
  <% end %>
</div>

<hr>

<!-- Form for Custom Block that creates a drag and drop block via AJAX -->
<h3>CUSTOM BLOCK</h3>
<h3>Fill fields below</h3>

<%= form_tag(event_results_path, :method=>'get') do %>
<p>
   Title:<br />
   <%= text_field_tag "c_title" %>
 </p>

 <p>
   Location: <br />
   <%= text_field_tag "c_location" %>
  <!-- Future TODO: Look up address and calculate distance from Main Event and add as field -->
 </p>

 <p>
   Description:<br />
   <%= text_area_tag "c_description", "", :size=>"20x10" %>
 </p>

 <p>
   <%= submit_tag 'Submit' %>
 </p>
<% end %>

<!-- Appears after form is submitted and page is refreshed. -->
<% if params[:c_title].present? %>
    <div class='activity ui-widget-content'>
    <ul>
      <li><b><%= params[:c_title] %></b></li>
      <li><%= params[:c_location] %></li>
      <li><%= params[:c_description] %></li>
    </ul>
    </div>
<% end %>