<h1>results#index</h1>

<p>Results for</p>
<p><b><%= @event.name %></b></p>
<p> on <b><%= @event.date_display %></b> at <b><%= @event.time_display %></b>

Google user_id <%= @event.user_id %>
<hr/>
<% if @event.user_id != nil %>
<%= @user.get_main_gcal_id %>
<% end %>

<h4>Calendar</h4>
<%= form_tag '/auth/google_oauth2', :method => 'get', :class => 'google-form' do |f| %>
<%= hidden_field_tag :event_id, value = @event.id %>
<%= submit_tag 'Export to Google Calendar', :class => 'google' %>
<% end %>
<p></p>

<%= button_to "Export to Google Calendar", "/auth/google_oauth2", :class => 'google' %>
<p></p>
<div class = 'calendar'>
<div class='time-slot'></div>
<div class='time-slot'></div>
<div class='event'>
  <ul>
    <li><b><%= @event.name %></b></li>
    <li><%= @event.time_display %></li>
  </ul>
</div>
<div class='time-slot'></div>
</div>
<hr/>

<%= button_to 'pick for me' ,event_results_path, :method => 'get' %>

<div class='random'>
  <h4>Random Picks</h4>
  <% @random.each do |r| %>
  <b><%= r[:title] %></b>
  <div class='activity ui-widget-content'>
  <ul>
    <li><b><%= r[:name] %></b></li>
    <li><%= r[:address].first %></li>
    <li><%= r[:address].last %></li>
    <li><% if r[:cats] == Array %>
          <%= r[:cats].join(', ') %>
        <% else %>
           <%= (r[:cats]) %>
        <% end %>
    </li>
    <li>Distance in meters: <%= r[:distance] %></li>
    <li><%= link_to r[:url], r[:url], :target => "_blank" %></li>

  </ul>
  </div>
  <% end %>
</div>

<hr/>

<h3>YELP RESULTS</h3>

<h4>Food Option</h4>

<% @food.each do |f| %>
<div class='activity ui-widget-content'>
<ul>
  <li><b><%= f[:name] %></b></li>
  <li><%= f[:address].first %></li>
  <li><%= f[:address].last %></li>
  <li><%= f[:cats].join(', ') %></li>
  <li>Distance in meters: <%= f[:distance] %></li>
  <li><%= link_to f[:url], f[:url], :target => "_blank" %></li>
</ul>
</div>
<% end %>

<h3>Night Option</h3>
<% @night.each do |f| %>
<div class='activity ui-widget-content'>
<ul>
  <li><b><%= f[:name] %></b></li>
  <li><%= f[:address].first %></li>
  <li><%= f[:address].last %></li>
  <li><%= f[:cats].join(', ') %></li>
  <li><%= link_to f[:url], f[:url], :target => "_blank" %></li>
</ul>
</div>
<% end %>
<hr/>

<h3>FOURSQUARE RESULTS</h3>
<h3>Sights Option</h3>
<%#= binding.pry %>
<% @sights.each do |f| %>
<div class='activity ui-widget-content'>
<ul>
  <li><b><%= f[:name] %></b></li>
  <li><%= f[:address][0] %></li>
  <li><%= f[:cats] %></li>
  <li>Distance in meters: <%= f[:distance] %></li>
  <li><%= f[:here_now] %></li>
  <li><%= link_to "link", f[:url], :target => "_blank" %></li>
</ul>
</div>
<% end %>

<hr/>

<!-- Form for Custom Block that creates a drag and drop block via AJAX -->
<h3>CUSTOM BLOCK</h3>
<h3>Fill fields below</h3>

<%= form_tag(event_results_path, :method=>'get') do %>
<p>
   Title:<br />
   <%= text_field_tag "c_title" %>
 </p>

 <p>
   Location: <br />
   <%= text_field_tag "c_location" %>
  <!-- Future TODO: Look up address and calculate distance from Main Event and add as field -->
 </p>

 <p>
   Description:<br />
   <%= text_area_tag "c_description", "", :size=>"20x10" %>
 </p>

 <p>
   <%= submit_tag 'Submit' %>
 </p>
<% end %>

<!-- Appears after form is submitted and page is refreshed. -->
<% if params[:c_title].present? %>
    <div class='activity ui-widget-content'>
    <ul>
      <li><b><%= params[:c_title] %></b></li>
      <li><%= params[:c_location] %></li>
      <li><%= params[:c_description] %></li>
    </ul>
    </div>
<% end %>
