<h1>results#index</h1>



<hr/>

<h3>FOURSQUARE RESULTS</h3>
<h3>Sights Option</h3>
<%#= binding.pry %>
<% @sights.each do |f| %>
<ul>
  <li><b><%= f[:name] %></b></li>
  <li><%= f[:address][0] %></li>
  <li><%= f[:cats] %></li>
  <li>Distance in meters: <%= f[:distance] %></li>
  <li><%= f[:here_now] %></li>
  <li><%= link_to "link", f[:url], :target => "_blank" %></li>
</ul>
<% end %>