<h1>results#index</h1>

<p>Results for</p>
<p><b><%= @event.name %></b></p>
<p> on <b><%= @event.date_display %></b> at <b><%= @event.time_display %></b>

<%= link_to "Sign in with Google", "/auth/google_oauth2" %>

<hr/>
<h4>Calendar</h4>
<div class='time-slot'></div>
<div class='time-slot'></div>
<div class='time-slot'></div>
<div class='time-slot'></div>

<hr/>

<%= button_to 'pick for me' ,event_results_path, :method => 'get' %>

<h4>Random Picks</h4>
<% @random.each do |r| %>
<b><%= r[:title] %></b>
<div class='activity ui-widget-content'>
<ul>
  <li><b><%= r[:name] %></b></li>
  <li><%= r[:address].first %></li>
  <li><%= r[:address].last %></li>
  <li><% if r[:cats] == Array %>
        <%= r[:cats].join(', ') %>
      <% else %>
         <%= (r[:cats]) %>
      <% end %>
  </li>
  <li>Distance in meters: <%= r[:distance] %></li>
  <li><%= link_to r[:url], r[:url], :target => "_blank" %></li>

</ul>
</div>
<% end %>

<hr/>

<h3>YELP RESULTS</h3>

<h4>Food Option</h4>

<% @food.each do |f| %>
<div class='activity ui-widget-content'>
<ul>
  <li><b><%= f[:name] %></b></li>
  <li><%= f[:address].first %></li>
  <li><%= f[:address].last %></li>
  <li><%= f[:cats].join(', ') %></li>
  <li>Distance in meters: <%= f[:distance] %></li>
  <li><%= link_to f[:url], f[:url], :target => "_blank" %></li>
</ul>
</div>
<% end %>

<h3>Night Option</h3>
<% @night.each do |f| %>
<div class='activity ui-widget-content'>
<ul>
  <li><b><%= f[:name] %></b></li>
  <li><%= f[:address].first %></li>
  <li><%= f[:address].last %></li>
  <li><%= f[:cats].join(', ') %></li>
</ul>
</div>
<% end %>
<hr/>

<h3>FOURSQUARE RESULTS</h3>
<h3>Sights Option</h3>
<%#= binding.pry %>
<% @sights.each do |f| %>
<div class='activity ui-widget-content'>
<ul>
  <li><b><%= f[:name] %></b></li>
  <li><%= f[:address][0] %></li>
  <li><%= f[:cats] %></li>
  <li>Distance in meters: <%= f[:distance] %></li>
  <li><%= f[:here_now] %></li>
  <li><%= link_to "link", f[:url], :target => "_blank" %></li>
</ul>
</div>
<% end %>

<hr/>
