 <section class="parallax-bg padding-top-bottom cta-image" data-parallax-background="<%= image_path "light-abstract.jpg"%>" data-stellar-background-ratio=".7">
    
  <div class="container">
    
    <div class="row">
    
      <div class="col-sm-6 scrollimation fade-right">
        
        <%= image_tag "#{@event.img_url}", class:"img-responsive img-center", alt:"" %>
        
      </div>
      
      <div class="col-sm-6 scrollimation fade-left d1">
      
        <h1 class="big-title">Activities</h1>
        <p>Let's see what's there to do</p>
        <p>Results from yelp and foursquare</p>
        
        <a class="btn btn-quattro scrollto" href="#services"><i class="fa fa-arrow-down"></i>Check Them Out!</a>
        
      </div>
    
    </div>
  
  </div>
  
</section>


<section id="services" class="white-bg padding-top-bottom">
    
  <div class="container">
    
    <h1 class="section-title">Results</h1>
    <p class="section-description"><b class='event-name'><%= @event.name %></b><br/> <b class='event-date'><%= @event.date_display %></b> at <b><%= @event.time %></b>
      <b class='event-time'><%= @event.time_display %></b><b class='event-utc'><%=@event.date %></b></p>
    
    <div class="row services">
    
      <div class="col-md-4 item text-center scrollimation fade-right d1">
    

        <div class="icon"><i class="fa fa-flag"></i></div>
        <h3>Branding</h3>
        <p>Phasellus ac mi quam. Suspendisse eu erat venenatis, euismod tellus sollicitudin, egestas lacus.</p>
        
      </div>
      
      <div class="col-md-4 item text-center scrollimation fade-right">
    
        <div class="icon"><i class="fa fa-pencil"></i></div>
        <h3>Design</h3>
        <p>Phasellus ac mi quam. Suspendisse eu erat venenatis, euismod tellus sollicitudin, egestas lacus.</p>
        
      </div>

      
      <div class="col-md-1 item text-center scrollimation fade-left">
        
      </div>
      
      <div class="col-md-4 item text-center scrollimation fade-left d1">

        <div id='calendar'></div>
        
      </div>
      
    </div>
    
    <p class="text-center"><a class="btn btn-quattro scrollto" href="#portfolio">Our Awesome Works</a></p>
  </div>
  
</section>


Google user_id <%= @event.user_id %>
<hr/>
<% if @event.user_id != nil %>
<%= @user.get_main_gcal_id %>
<% end %>

<h4>Calendar</h4>
<%= form_tag '/auth/google_oauth2', :method => 'get', :class => 'google-form' do |f| %>
<%= submit_tag 'Export to Google Calendar', :class => 'google' %>
<% end %>

<hr/>

<%= button_to 'pick for me' ,event_results_path, :method => 'get' %>



<div class='random'>
<h4>Random Picks</h4>
<% @random.each do |r| %>
<b><%= r[:title] %></b>
<div class='activity' data-event='{"title":"<%= r[:name] %>"}'>
<ul>
  <li><b><%= r[:name] %></b></li>
  <li><%= r[:address].first %></li>
  <li><%= r[:address].last %></li>
  <li><% if r[:cats] == Array %>
        <%= r[:cats].join(', ') %>
      <% else %>
         <%= (r[:cats]) %>
      <% end %>
  </li>
  <li>Distance in meters: <%= r[:distance] %></li>
  <li><%= link_to r[:url], r[:url], :target => "_blank" %></li>

</ul>
</div>
<% end %>
</div>

<hr/>

<h3>YELP RESULTS</h3>

<h4>Food Option</h4>
<% @food.each do |f| %>
<div class='activity fc-event ui-draggable ui-draggable-handle' data-event='{"title":"<%= f[:name] %>"}'>
<ul>
  <li><b class='title'><%= f[:name] %></b></li>
  <li><%= f[:address].first %></li>
  <li><%= f[:address].last %></li>
  <li><%= f[:cats].join(', ') %></li>
  <li>Distance in meters: <%= f[:distance] %></li>
  <li><%= link_to f[:url], f[:url], :target => "_blank" %></li>
</ul>
</div>
<% end %>

<h3>Night Option</h3>
<% @night.each do |f| %>
<div class='activity ui-widget-content'>
<ul>
  <li><b class='title'><%= f[:name] %></b></li>
  <li><%= f[:address].first %></li>
  <li><%= f[:address].last %></li>
  <li><%= f[:cats].join(', ') %></li>
</ul>
</div>
<% end %>
<hr/>

<h3>FOURSQUARE RESULTS</h3>
<h3>Sights Option</h3>
<% @sights.each do |f| %>
<div class='activity' data-event='{"title":"<%= f[:name] %>"}'>
<ul>
  <li><b class='title'><%= f[:name] %></b></li>
  <li><%= f[:address][0] %></li>
  <li><%= f[:cats] %></li>
  <li>Distance in meters: <%= f[:distance] %></li>
  <li><%= f[:here_now] %></li>
  <li><%= link_to "link", f[:url], :target => "_blank" %></li>
</ul>
</div>
<% end %>

<hr/>

<!-- Form for Custom Block that creates a drag and drop block via AJAX -->
<h3>CUSTOM BLOCK</h3>
<h3>Fill fields below</h3>

<%= form_tag(event_results_path, :method=>'get') do %>
<p>
   Title:<br />
   <%= text_field_tag "c_title" %>
 </p>

 <p>
   Location: <br />
   <%= text_field_tag "c_location" %>
  <!-- Future TODO: Look up address and calculate distance from Main Event and add as field -->
 </p>

 <p>
   Description:<br />
   <%= text_area_tag "c_description", "", :size=>"20x10" %>
 </p>

 <p>
   <%= submit_tag 'Submit' %>
 </p>
<% end %>

<!-- Appears after form is submitted and page is refreshed. -->
<% if params[:c_title].present? %>
    <div class='activity ui-widget-content'>
    <ul>
      <li><b><%= params[:c_title] %></b></li>
      <li><%= params[:c_location] %></li>
      <li><%= params[:c_description] %></li>
    </ul>
    </div>
<% end %>

<div id="map"></div>
