<h1>event#show</h1>

<h3>event id <%= @event.id %></h3>
<b>This is the stuff that has will change</b>
<br/><br/>
<%= @event.name %>
<br/>
<%= @event.date %>
<br/>
<%= @event.lat %>
<%= @event.long %>
<br/>
<%= @event.taxonomies %>
<br/><br/>

<h2>The results from SeatGeek are:</h2>
<b>Select one:</b>
<br/><br/>
<% @event.get_results.each do |e| %>
  
  <%= form_tag event_path, :method => 'patch' do |f| %>
  <%= e[:title]  %>
  <br/>
  <%= hidden_field_tag :name, value = e[:title] %>
  <%= e[:date] %> at <%= e[:local_time] %>
  <%= hidden_field_tag :datetime, value = e[:datetime_local] %>
  <br/>
  <%= e[:venue_name] %> - <%= e[:venue_loc] %>
  <%= hidden_field_tag :lat, value = e[:lat] %>
  <%= hidden_field_tag :long, value = e[:long] %>
  <br/>
  <%= e[:taxonomies].join(', ') %>
  <%= hidden_field_tag :taxonomies, value = e[:taxonomies] %>
  <br>
  <%= submit_tag 'This is the EVENT' %>
  <% end %>
  <br/><br/>
<% end %>