<!-- ==============================================
PRICES
=============================================== -->
<section id="pricing" class="gray-bg padding-top-bottom">

  <div class="container">
    
    <h1 class="section-title">Confirm your ticket</h1>
    <p class="section-description">via: SeatGeek results</p>
    
    <% @tickets.each_slice(3) do |tickets| %>  
      
      <div class="row pricing">
        <div class="col-lg-10 col-lg-offset-1">
          
          <% tickets.each do |ticket| %>
            <div class="col-sm-4 text-center scrollimation fade-in">
            
              <div class="item">
                <p class="icon"><i class="fa fa-ticket fa-fw"></i></p>

                <h4><%= ticket[:title] %></h4>
            
                <h5><%= ticket.date_display %> at <%= ticket.time %></h5>

                <h5><%= ticket[:venue_name] %> - <%= ticket[:venue_loc] %></h5>

                <%= link_to 'Confirm', event_ticket_path(@event.id, ticket), :method => 'patch', :class => 'btn btn-quattro' %>
              </div>
            <%# end %>
            
            </div>
         <% end %>

         </div>
      </div><br/>
    
    <% end %>
     
  </div>
  
</section>