 <section id="testimonials" class="parallax-bg light-typo padding-top-bottom" data-parallax-background="<%= image_path "clock-bg-dark.jpg"%>" data-stellar-background-ratio=".5">
    
      <div class="container">
      
        <h1 class="section-title scrollimation fade-up">Your Ticketed Event</h1>
        
        <div class="row scrollimation fade-in">
        
          <div class="col-sm-10 col-sm-offset-1">
          
            <div id="testimonials-slider" class="flexslider">
            
              <ul class="slides">
                <!--Single Testimonial-->
                <li>
                  <div class="media">
                    <div class="pull-left">
                      <%= image_tag "#{@ticket.img_url}", class:"img-responsive client-iamge image-circle", alt:"" %>
                    </div>
                    
                    <div class="media-body">
                      <p class="testimonial">
                        <span class='event-name'><%= @ticket.title %></span><spanr/>
                        <br/>
                        <span class='event-date'><%= @ticket.date_display %></span> at <span><%= @ticket.time %></span>
                        <span class='event-time'><%= @ticket.time_display %></span><span class='event-utc'><%=@ticket.date %></span><p>
                      </p>
                      <p class="client">
                        <span><%= @ticket.address.split('/')[0] %></span>
                        <br/>
                        <span><%= @ticket.address.split('/')[1] %></span>
                      </p>
                      <a class="btn btn-quattro scrollto" href="#services"><i class="fa fa-angle-double-down"></i>See what's there to do nearby!</a>
                    </div>
                  </div>
              </ul>
          
        </div><!-- End slider -->
        
      </div><!-- End col -->
      
    </div><!-- End row -->
    
  </div><!-- End container -->
  
</section>

<section id="services" class="white-bg padding-top-bottom">

  <div class="container features">

    <h1 class="section-title">Results</h1>
    <p class="section-description">Drag and Drop activities into the Calendar to build your Schedule!</p>

    <div id="filter-works">
      <ul>
        <li class="active scrollimation fade-right d1">
          <a href="#" data-filter="*">All</a>
        </li>
        <li class="scrollimation fade-right">
          <a href="#" data-filter="food">Restaurants</a>
        </li>
        <li class="scrollimation fade-left">
          <a href="#" data-filter="night">Nightlife</a>
        </li>
        <li class="scrollimation fade-left d1">
          <a href="#" data-filter="sight">Sights</a>
        </li>
      </ul>
    </div>

    <div class="row">

    <div class='col-md-8'>
  
      <div class="col-md-4 item text-center scrollimation fade-right activities" data-cat='food'>
        <h3 class='yelp1'>Restaurants</h3>
        <div class='external-events'>
          <% i = 1 %>
          <% @food.each do |f| %>

            <div id='n<%= i %>' class='activity fc-event ui-draggable ui-draggable-handle' data-event='{"title":"<%= f[:name] %>"}'>

            <span class='title'><%= f[:name] %></span>
            <br/>
            <%= f[:address].split('/')[0] %><br/>
            <%#= f[:address].split('/')[1] %><br/>
            <%= link_to 'YELP', f[:url], :target => "_blank"%> <i class="fa fa-yelp"></i>

            </div>
          <% i += 1 %><br/>
        <% end %>
        </div>
      </div>

      <div class="col-md-4 item text-center scrollimation fade-right activities" data-cat='night'>
        <h3 class='yelp2'>Nightlife</h3>
        <div class='external-events'>
          <% i = 1 %>
          <% @night.each do |f| %>

            <div id='n<%= i %>' class='activity fc-event ui-draggable ui-draggable-handle' data-event='{"title":"<%= f[:name] %>"}'>

            <b class='title'><%= f[:name] %></b><br/>
            <%= f[:address].split('/')[0] %><br/>
            <%#= f[:address].split('/')[1] %><br/>
            <%= link_to 'YELP', f[:url], :target => "_blank"%> <i class="fa fa-yelp"></i>

            </div>
          <% i += 1 %><br/>
        <% end %>
        </div>
      </div>

      <div class="col-md-4 item text-center scrollimation fade-left activities" data-cat='sight'>
          <h3 class='foursquare'>Sights</h3>
          <div class='external-events'>
          <% i = 1 %>
          <% @sights.each do |f| %>

            <div id="s<%= i %>" class='activity fc-event ui-draggable ui-draggable-handle sights' data-event='{"title":"<%= f[:name] %>"}'>

              <b class='title'><%= f[:name] %></b><br/>
              <%= f[:address].split('/')[0] %><br/>
              <%#= f[:address].split('/')[1] %><br/>
              <i class="fa fa-foursquare"></i> <%= link_to 'FourSquare', f[:url], :target => "_blank" %>

            </div>
            <% i += 1 %><br/>
          <% end %>
        </div>
    </div>
    </div>

      <div class="col-md-4 item text-center scrollimation fade-left d1">


        <div id='calendar'></div>
        <button class='remove-events' type="button">Remove Activities</button>
        <%= form_tag '/auth/google_oauth2', :method => 'get', :class => 'google-form' do |f| %>
        <%= button_tag :type =>'submit', :class => 'btn btn-quattro google' do %>
          <i class='fa fa-google'></i>Add to Google Calendar
          <% end %>
        <% end %>

      </div>

    </div>

    <p class="text-center"><a class="btn btn-quattro scrollto" href="#map-section"><i class="fa fa-arrow-down"></i> See where it is on the map!</a></p>
  </div>

</section>

<section id="map-section" class="white-bg padding-top-bottom">


      <div class="container">

        <h1 class="section-title">Map</h1>

        <div class="row">
          <div class="col-md-1 item text-center scrollimation fade-up">
          </div>
          <div class="col-md-10 item text-center scrollimation fade-up">
            <div id="map"></div>
          </div>
          <div class="col-md-1 item text-center scrollimation fade-up">
          </div>
        </div>

      </div><!-- End container -->


    </section>
